<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pintu23"
    android:versionCode="1"
    android:versionName="1.0" >
	<!-- 最低版本支持4.1 -->
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
	<!-- 桌面的图标和名称 -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_pt"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.pintu23.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
